[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-debug-toolbar = "*"
mysqlclient = "*"
djangorestframework = "*"
drf-nested-routers = "*"
django-filter = "*"
gunicorn = "*"

[dev-packages]
pytest = "*"
pytest-django = "*"

[requires]
python_version = "*"
